BasedOnStyle: Google
UseTab: Always
IndentWidth: 4
TabWidth: 4
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
SpaceAfterControlStatementKeyword: true
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
