# Binaries
**/bin/

# IDE/Editor Specific Files
# Visual Studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.suo
*.user
*.pdb
*.opendb
# Code::Blocks
*.layout

# IDE/Editor Specific Files
# Visual Studio
.vs/
.vscode/

# Temporary Files
# Backup files
*~
# Temp files for Windows
Thumbs.db

# Log Files
*.log
*.tlog

# Documentation Build Files
docs/build/

